# Firebase環境変数など秘密情報を除外
.env*
.firebase/
.vercel

# Next.js
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# 一般的な除外ファイル
node_modules/
.DS_Store
*.log
*.pem

# yarn/npm
yarn.lock
package-lock.json
