/*D:\Dev\habit-tracker\habit-tracker-v1\src\app\globals.css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* 背景色 */
  --foreground: #171717; /* 文字色 */
}

body {
  color: var(--foreground); /* 文字色 */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ダークモードにしているときに差し替える */
/* @media (prefers-color-scheme: dark) {
  
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
